/* Global Styling */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* lock global scroll */
}

.scrollable {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* not working */
    height: 100vh;
    padding: 1rem;
    background-color: #F7F7F7;
}

.profile-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #C8C8C8;
}

.header {
    font-weight: medium;
    font-size: 1.5rem;
    color: #363636;
}

.title {
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: 0.33px;
    color: #363636;
}

.link {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: inherit;
    transition: text-decoration-color 0.2s ease;
}

.link:hover {
    text-decoration-color: currentColor;
}

.description {
    font-size: 0.75rem;
    color: #797979;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.25px;
}

.card {
    background-color: white;
    border-radius: 0.875rem;
    box-shadow: 1px 4px 15px 3px rgba(0, 0, 0, 0.05);
}

.poppy {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.poppy:hover {
  transform: scale(1.01);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.1);
}

.view {
    width: 100%;
    margin: 0 0 0 1.5rem;
    padding-bottom: 5rem;
}

.sidebar {
    width: 200px;
    background-color: white;
    color: #797979;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #F1F1F1;
    border: none;
    border-radius: 0.875rem;
    color: 363636;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.content {
    background-color: #F7F7F7;
}

hr {
    margin-right: 5rem;
    height: 1px;
    border: none;
    background-color: #E4E4E4;
}

h1, h2, h3 {
    color: #363636;
}