/* Global Styling */

.profile-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #C8C8C8;
}

.header {
    font-weight: medium;
    color: #363636;
}

.card {
    background-color: white;
    border-radius: 0.875rem;
    box-shadow: 1px 4px 36px -9px rgba(0, 0, 0, 0.1);
}